<app-header></app-header>

<mat-sidenav-container class="app-container">
  <!-- Side Navigation -->
  <mat-sidenav *ngIf="isLoggedIn" #sidenav mode="side" opened class="app-sidenav">
    <mat-nav-list>
      <h3 class="nav-section-title">Navigation</h3>
      
      <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon matListItemIcon>list</mat-icon>
        <span matListItemTitle>Task List</span>
      </a>
      
      <a mat-list-item routerLink="/calendar" routerLinkActive="active-link">
        <mat-icon matListItemIcon>calendar_month</mat-icon>
        <span matListItemTitle>Calendar</span>
      </a>
      
      <a mat-list-item routerLink="/kanban" routerLinkActive="active-link">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Kanban Board</span>
      </a>
      
      <mat-divider></mat-divider>
      
      <h3 class="nav-section-title">Actions</h3>
      <a mat-list-item routerLink="/task/add" routerLinkActive="active-link" class="add-task-button">
        <mat-icon matListItemIcon>add_circle</mat-icon>
        <span matListItemTitle>Add</span>
      </a>
      
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content [ngClass]="{'with-sidenav': isLoggedIn}">
    <div class="container" [ngClass]="{'kanban-container': isKanbanView}">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
