# Root .gitignore file for the entire solution

# .NET build artifacts
**/bin/
**/obj/

# Visual Studio and JetBrains Rider files
.vs/
**/.idea/
**/*.user
**/*.userosscache
**/*.suo
**/*.userprefs
**/*.sln.docstates
**/*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
**/project.lock.json
**/project.fragment.lock.json
**/artifacts/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular/Node.js files
**/node_modules/
**/dist/
**/.angular/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnp
**/.pnp.js

# Testing
**/coverage/
**/.nyc_output

# Docker-related files
**/.dockerignore
**/docker-compose.override.yml

# System Files
**/.DS_Store
**/Thumbs.db
