<mat-toolbar color="primary">
  <a mat-button routerLink="/">
    <span class="app-title">ToDoList</span>
  </a>
  <span class="spacer"></span>
  
  <ng-container *ngIf="(currentUser$ | async) === null; else loggedIn">
    <a mat-button routerLink="/login">
      <mat-icon>login</mat-icon>
      Login
    </a>
    <a mat-button routerLink="/register">
      <mat-icon>person_add</mat-icon>
      Register
    </a>
  </ng-container>
  
  <ng-template #loggedIn>
    <span class="user-greeting">
      <mat-icon>account_circle</mat-icon>
      Hello, {{ (currentUser$ | async)?.username }}
    </span>
    <button mat-raised-button color="warn" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </ng-template>
</mat-toolbar>
