<div class="task-list-container">
  <mat-card class="task-list-card">
    <mat-card-content>
      <!-- Task List -->
      <div class="tasks-container">
        <h2><mat-icon>list</mat-icon> Your Tasks</h2>
        <mat-divider></mat-divider>
        
        <div *ngIf="loading" class="loading-container">
          <mat-spinner diameter="40"></mat-spinner>
          <p>Loading tasks...</p>
        </div>
        
        <div *ngIf="!loading && todos.length === 0" class="empty-state">
          <mat-icon class="large-icon">checklist</mat-icon>
          <p>You don't have any tasks yet. Click "Add New Task" to create one!</p>
        </div>
        
        <div *ngIf="!loading && todos.length > 0" class="task-list">
          <app-task-item 
            *ngFor="let todo of todos" 
            [todo]="todo"
            (toggleComplete)="updateTaskStatus($event)"
            class="task-list-item">
          </app-task-item>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
